[bootstrap]
graceful = true
pid = "/data/app/redisAdmin.pid"

[transport]
[transport.http]
addr = ":10110"
read_timeout = 0.5
read_header_timeout = 1
write_timeout = 10
idle_timeout = 30

[transport.inner_http]
addr = ":10111"
read_timeout = 2
read_header_timeout = 2
write_timeout = 30
idle_timeout = 30

[log]
type = "file"
[log.app]
file_path = "/data/logs/app/app.log"
level = "debug"
[log.access]
file_path = "/data/logs/app/access.log"

[trace]
enabled = true
sampling = 1.0
service_name = "redis-admin"
file_path = "/data/logs/trace/trace.log"

#------配置默认redis链接-----------
[[redis]]
name = "base"
addr = "127.0.0.1:6379"
pwd = "123456"
db = 0
dial_timeout = 0.5
read_timeout = 0.25
write_timeout = 0.25
pool_size = 20
min_idle_conns = 10
max_retries = 1

#------配置默认登录用户user-----------
[[login_user]]
user_name = "admin"
user_pwd = "123456"

[[login_user]]
user_name = "user"
user_pwd = "123456"

#------配置其他-----------
[config]
env = "qa"
service_name = "go-admin-redis"

[[server]]
name = "baidu"
url = "http://www.baidu.com"

[[mysql]]
name = "base"
[mysql.master]
driver = "mysql"
dsn = "root:123456@tcp(127.0.0.1:3306)/redis?charset=utf8mb4&parseTime=True&loc=Local"
max_open_conns = 20
max_idle_conns = 10
max_life_conns = 60

[mysql.slave]
driver = "mysql"
dsn = "root:123456@tcp(127.0.0.1:3306)/redis?charset=utf8mb4&parseTime=True&loc=Local"
max_open_conns = 20
max_idle_conns = 10
max_life_conns = 60

